body {
    background-color: rgb(48, 48, 48);
    color: rgb(0,0,0);
    font-family: sans-serif;
    text-align:center;
    position: relative;
    box-sizing: border-box;
    image-rendering: optimizeQuality;
}

/* Overview Tile */

#overviewTile {
    background-color: rgb(0, 64, 64);
    border: 2px solid rgb(0, 0, 0);
    width: calc(100% - 64px);
    margin: auto;
    margin-top: 30px;
    visibility: visible;
}

#overviewTile:hover {
    background-color: rgb(0, 128, 128);
}

.main-ul{    
    list-style: none; 
    padding: 0;
}

.sub-ul{
    padding: 5px;
    list-style: none;
}

.main-ul > li {
    position: relative;
    padding: 5px;
    list-style: disc;
    list-style-position:inside;
}

.sub-ul > li:first-child{
    font-weight: bold;
    position: relative;
    border: 2px solid rgb(0, 0, 0);
}

/* TileContainer */

.tileContainer {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 30px;
    gap: 30px;
    display: grid;
    visibility: visible;
}

.tile {
    background-color: rgb(0, 64, 64);
    border: 2px solid rgb(0, 0, 0);
}

.tile:hover {
    background-color: rgb(0, 128, 128);
}

.tile-image {
    object-fit: fill;
    width: 70%;
    height: auto;
}

/* misc */

#msgBox {
    border: 2px solid rgb(32, 32, 32);
    position: fixed;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#stream {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: visible;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
}