body {
    background-color: rgb(96, 96, 96);
    font-family: sans-serif;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 30px;
}
.tile {
    background-color: rgb(64, 64, 64);
    border: 2px solid rgb(32, 32, 32);
}
.tile:hover {
    background-color: rgb(128, 128, 128);
}
.tile-image {
    image-rendering: optimizeQuality;
    object-fit: fill;
    width: 70%;
    height: 70%;
}

#stream {
    image-rendering: optimizeQuality;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#overlay {
    image-rendering: optimizeQuality;
    width: 100%;
    height: 100%;
    object-fit: fill;
    visibility: hidden;
}
#overlay.show {
    visibility: visible;   
}

#msgBox {
    background-color: rgb(64, 64, 64);
    border: 2px solid rgb(32, 32, 32);
    visibility: hidden;
}
#msgBox.show {
    visibility: visible;
}