body {
    background-color: rgb(96, 96, 96);
    font-family: sans-serif;
    color: white;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.tileContainer {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
    padding: 30px;
    gap: 30px;
    visibility: visible;
}

.tile {
    background-color: rgb(64, 64, 64);
    border: 2px solid rgb(32, 32, 32);
}

.tile:hover {
    background-color: rgb(128, 128, 128);
}

.tile-image {
    image-rendering: optimizeQuality;
    object-fit: fill;
    width: 70%;
    height: auto;
}

#overviewTile {
    background-color: rgb(64, 64, 64);
    border: 2px solid rgb(32, 32, 32);
    width: calc(100% - 64px);
    margin: auto;
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
    visibility: visible;
}

#stream {
    image-rendering: optimizeQuality;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#overlay {
    image-rendering: optimizeQuality;
    object-fit: fill;
    visibility: hidden;
    z-index: 10;
    visibility: visible;
}

#msgBox {
    background-color: rgb(64, 64, 64);
    border: 2px solid rgb(32, 32, 32);
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#msgBox.show {
    visibility: visible;
}